#AddType application/xhtml+xml .html
AddType 'text/html; charset=UTF-8' .html 
#AddType type-map .html
#AddHandler type-map .html
Options +Includes +MultiViews +FollowSymLinks
DirectoryIndex index
#AddOutputFilter INCLUDES .html
AddLanguage en .en
AddLanguage de .de

AddType text/html cgi-script .cgi
AddHandler cgi-script .cgi

RewriteEngine on
SetEnvIf Request_URI ^(de|en) prefer-language=$1

# top level
RewriteRule ^(de|en)/?$         /index.html.$1    [L]

# first level
RewriteRule ^(de|en)/(.*[^/])$  /$2.html.$1       [L]
RewriteRule ^(de|en)/(.*/)$     /$2/index.html.$1 [L]

#
## first level
#RewriteRule ^(de|en)/(.*)/$     /$2/index.html.$1 [L]
#RewriteRule ^(de|en)/(.*)/(.*)$ /$2/$3.html.$1 [L]

LanguagePriority de en
ForceLanguagePriority Prefer Fallback
